body {
  margin: 0;
  overflow-x: hidden;
  background: rgb(3,36,64);
}

button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px #000;
  color: #fff;
  transition: 0.3s ease all;
  margin: 20px;
}

button:active {
  padding-top: -10px;
  transform: translateY(-10px);
  box-shadow: 0 4px 8px #c6c2c2;
}

.textInput {
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  color: #000;
  margin-left: 40%;
  border: none;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 4px #000;
  background: rgb(3,152,207);
  transition: 0.3s ease all;
}

.textInput:focus {
  transform: scale(1.1);
  outline: none;
  border: none;
  box-shadow: 0 4px 8px #c6c2c2;
}

.textInput::placeholder {
  color: #000;
}

.tmdb {
  color: #fff;
  margin-left: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
